.container{
	width: 1000px;
	margin: auto;
}
.container:after{
	clear: both;display: block;content: '';
}
#skip_nav a{
	display: none;
}
#skip_nav a:focus,
#skip_nav a:hover{
	
}
#wrap{
	position: relative;
	.app-min-width();
}

/* header */
#header{
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	height: 140px;
	padding-top: 40px;
	background: #3c5493 url(../images/header/bg.png)0 0 repeat-x;
	z-index: 300;
	overflow: hidden;
	
	&.depth2{
		height: 190px;
				
		&.depth3{
			height: 240px;
			
		}
	}
}
.site-logo{
	padding-top: 25px;
	margin: 0;
	float: left;
}
.site-logo a{
	display: inline-block;
	width: 230px;height: 45px;
	background: url(../images/header/logo.png)0 0 repeat-x;
}
.lnb{
	float: left;
	margin-left: 68px;
	
	&>ul{
		
		
		&>li{
			position: relative;
			display: inline-block;
			height: 100px;
			
			&.on{
				
				&>a{
					color: #ef624e;
				}
				
				&>ul{
					display: block;
				}
			}
			
			&>a{
				display: inline-block;
				height: 100%;
				font-size: 17px;
				font-weight: bold;
				vertical-align: middle;
				padding: 40px 15px;
				
				
				&:before{
					display: inline-block;
					content: '';
					width: 1px;
					height: 100%;
					vertical-align: middle;
				}
			}
			
			&>ul{
				display: none;
				position: absolute;
				left: 0;top: 100px;
				width: 500px;
				
				&>li{
					height: 50px;
					float: left;
					
					
					&.on{
						
						&>a{
							color: #f7ad37;
						}
						
						&>ul{
							display: block;
							
						}
					}
					
					&>a{
						display: inline-block;
						padding: 12px 7px;
						color: #fff;
						position: relative;
						
						&:after{
							clear: both;display: block;content: '';
							width: 1px;height: 12px;
							position: absolute;
							left: 0;top: 50%;margin-top: -5px;
							background-color: #fff;
						}
						
					}
					
					&:first-child>a:after{
						display: none;
					}
					
					&>ul{
						display: none;
						position: absolute;
						left: 0;top: 50px;
						width: 600px;
						
						&>li{
							float: left;
							
							&.on{
								
								&>a{
									color: #fde98e;
								}
							}
							
							&>a{
								display: inline-block;
								padding: 12px 7px;
								color: #fff;
								position: relative;
								
								&:after{
									clear: both;display: block;content: '';
									width: 1px;height: 12px;
									position: absolute;
									left: 0;top: 50%;margin-top: -5px;
									background-color: #fff;
								}
								
							}
							
							&:first-child>a:after{
								display: none;
							}
						}
					}
				}
			}
		}
	}
	ul{
		&:after{
			clear: both;display: block;content: '';
		}
	}
}
.gnb{
	position: absolute;
	right: 50%;
	top: 9px;
	margin-right: -500px;
	
	li{
		float: left;
		
		a{
			padding: 4px 10px;
			font-size: 12px;
			color: #777;
			
			&.btn-login{
				padding: 4px 15px;
				border: 1px solid #989ba0;
				border-radius: 5px;
				font-size: 11px;
				color: #333;
				background-color: #fff;
			}
		}
		
		&:hover{
			a{
				font-weight: bold;
				color: #2e3c60;
			}
		}
		
	}
	
	&:after{
		clear: both;
		display: block;
		content: '';
	}
}

.btn-pds{
	position: absolute;
	right: 50%;
	top: 70px;
	margin-right: -500px;
	display: inline-block;
	height: 42px;
	padding: 15px 20px;
	padding-left: 38px;
	text-align: center;
	font-size: 11px;
	line-height: 12px;
	background: #f3f3f3 url(../images/header/btn-pds.png)20px 50% no-repeat;
	border-radius: 21px;
	
	&:hover{
		background-color: #2e3c60;
		color: #fff;
	}
	
}
.header_menu{
	position: absolute;
	right: 0;
	top: 0;
	
	&:after{
		clear: both;display: block;content: '';
	}
	a{
		display: block;
		float: left;
		width: 40px;
		height: 40px;
		background: url(../images/header/header_menu.png)0 0 no-repeat;
	
		&.btn-sitemap{
			background-position: -40px 0;
			
		}
	}
	
	
}


/* visual */
#visual{
	position: relative;
	width: 100%;
	height: 430px;
	background-color: #b9ebf2;
	
	.visual-content{
		position: relative;
		
		ul{
			width: 1000px;
			margin: auto;
			
			
			
			li{
				position: absolute;
				width: 1120px;
				height: 430px;
				background: url(../images/visual/main-visual.png)0 0 no-repeat;
				overflow: auto;
			}
		}
		
		
	}
}
.visual-pager{
	position: absolute;
	left: 50%;
	top: 380px;
	width: 500px;
	margin-left: -250px;
	text-align: center;
	
	a{
		display: inline-block;
		width: 14px;
		height: 14px;
		background-color: #fff;
		border-radius:50%;
		-webkit-box-shadow: inset 1px 1px 1px #989ba0;
		-moz-box-shadow: inset 1px 1px 1px #989ba0;
		box-shadow: inset 1px 1px 1px #989ba0;
		
		&.on{
			background-color: #ff6627;
			-webkit-box-shadow: inset -1px -1px 1px #fff;
			-moz-box-shadow: inset -1px -1px 1px #fff;
			box-shadow: inset -1px -1px 1px #fff;
		}
	}
}
.visual-control{
	
	a{
		display: inline-block;
		width: 72px;
		height: 69px;
		background: url(../images/visual/visual-control.png)0 0 no-repeat;
		position: absolute;
		left: 50%;
		top: 160px;
		margin-left: -572px;
		
		&.btn-next{
			margin-left: 500px;
			-webkit-transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			-o-transform: rotate(180deg);
			transform: rotate(180deg);
		}
	}
}
.btn-visual:before{
	display: inline-block;
	content: '';
	width: 1px;
	height: 100%;
	vertical-align: middle;
}
.btn-visual{
	position: absolute;
	left: 44px;
	top: 216px;
	display: inline-block;
	width: 169px;
	height: 39px;
	border: 1px solid #76939f;
	text-align: center;
	vertical-align: middle;
	font-size: 13px;
	
	span{
		font-size: 11px;
		margin-left: 8px;
	}
	
	&:hover{
		background-color: #fff;
		border: 1px solid #76939f;
	}
}
.main-banner{
	height: 109px;
	border-bottom: 1px solid #c9c9c9;
	background-color: #fff;
	
	ul{
		width: 1000px;
		margin: auto;
		text-align: center;
		
		li{
			display: inline-block;
			height: 109px;
			margin-left: 30px;
			background: url(../images/banner/main-banner.png)0 30px no-repeat;
			
			&:first-child{
				margin-left: 0;
			}
			
			&.eq-01{
				background-position: 0 30px;
			}
			&.eq-02{
				background-position: 0 -68px;
			}
			&.eq-03{
				background-position: 0 -168px;
			}
			&.eq-04{
				background-position: 0 -268px;
			}
			
			a{
				display: block;
				height: 100%;
				padding-left: 60px;
			}
			
			strong{
				display: block;
				clear: both;
				padding-top: 35px;
				font-size: 16px;
				color: #444;
			}
			
			p{
				display: block;
				clear: both;
				font-size: 11px;
				color: #444;
				margin: 0;
				
				.spot{
					margin-left: 10px;
					font-size: 10px;
					font-weight: bold;			
				}
			}
		}
	}
	
}



/* container */
#container{
	position: relative;
	z-index: 100;
	overflow: hidden;
	padding: 0;
	padding-top: 140px;
	background-color: #f5f5f5;
	
	.container{
		position: relative;
	}
}
#content{
	overflow: hidden;
}


#content{
	text-indent: -1px;

	[class^="con"]{
		position: relative;
		border-left: 1px solid #dcdcdc;
		
		&:first-child{
			border-left: 0;
		}
		&.con4{
			border: 0;
		}
		
		h3{
			margin: 30px 0 5px;
			font-size: 18px;
			font-weight: normal;
		}
		
		a{
			font-size: 12px;
			color: #555;
		}
		
		span{
			font-size: 12px;
			color: #b1b0b0;
		}
		
		.btn-more{
			position: absolute;
			right: 20px;
			top: 32px;
		}
	}
	
}

.con1,
.con2,
.con3{
	height: 300px;background-color: #fff;
}
.con1{
	padding-right: 30px;
	
	h3{
		position: relative;
		
		&:after{
			clear: both;display: block;content: '';
			width: 17px;height: 3px;
			background-color: #000;
			position: absolute;
			left: 0;bottom: -8px;
			
		}
	}
	img{
		display: inline-block;
		width: 300px;
		height: 94px;
		overflow: hidden;
	}
	ul{
		padding-top: 15px;
		li{
			position: relative;
			height: 20px;
			
			&:first-child{
				height: auto;
				padding-bottom: 10px;
			}
			
			a{
				display: block;
				width: 235px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				line-height: 20px;
			}
			
			span{
				position: absolute;
				right: 0;
				top: 0;
				line-height: 20px;
			}
		}
	}
}
.con2{
	padding: 0 25px;
	
	ul{
		border-top: 2px solid #003a72;
		
		li{
			height: 60px;
			border-top: 1px solid #dcdcdc;
			
			.day{
				width: 58px;
				float: left;
				
				strong{
					display: block;
					height: 36px;
					font-size: 34px;
				}
			}
			
			a{
				display: block;
				padding-top: 5px;
				padding-right: 10px;
				max-height:40px;
				overflow: hidden;
				
				span{
					display: block;
				}
			}
			
		}
	}
	
}
.con3{
	padding: 0;
	
	.banner1,
	.banner2{
		height: 50%;
	}
	
	.banner1{
		background: url(../images/main/banner1.png)0 0 no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
		
		.btn-join{
			position: absolute;
			left: 37px;
			top: 95px;
			display: inline-block;
			padding: 3px 10px 3px 30px;
			background: url(../images/main/btn-join.png)10px 50% no-repeat;
			border: 1px solid #d4d4d4;
			border-radius: 3px;
			color: #fff;
			
			&:hover{
				background-color: #54b7f6;
				color: #333;
			}
			
		}
	}
	
	.banner2{
		
	}
	
}

.roll-banner{
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	
	&>a{
		display: inline-block;
		width: 100%;
		height: 100%;
		background: url(../images/main/banner2-1.png)50% 50% no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
	}
	
	.roll-banner-pager{
		position: absolute;
		right: 20px;
		top: 10px;
		
		&>a{
			display: inline-block;
			width: 12px;
			height: 12px;
			background-color: #fff;
			border-radius:50%;
			
			&.on{
				background-color: #54b7f6;
			}
			
		}
	}
	
}
.con4,
.con5,
.con6{
	padding: 0 25px;
	height: 160px;
	background: url(../images/main/sp1.png)215px 26px no-repeat;
	
	p{
		font-size: 12px;
		font-weight: bold;
		color: #999;
	}
	.btn-next{
		display: block;
		width: 30px;
		height: 30px;
		background: url(../images/main/btn-next.png)0 0 no-repeat;
	}
}

.con4{
	padding: 0;
	border: none;
	background-position: 215px 26px;
	
}
.con5{
	background-position: -115px 26px;
	
}
.con6{
	background-position: -465px 26px;
	
}



/*con_bottom*/
#con_bottom{position: relative;border-top: 1px solid #e7e7e7;z-index: 100;}
#con_bottom .conwrap{padding: 0;}
.rolling{width: 100%;height: 100px;padding: 20px 0;text-align: center;}
.rolling li{display: inline-block;height: 55px;margin-bottom: 30px;vertical-align: top;position: relative;margin-left:25px;}
.rolling li a{display: inline-block;}
.rolling li a:before{
	display: inline-block;content: '';
	width: 1px;height: 100%;vertical-align: middle;
}
.rolling li a img{display: inline-block;vertical-align: middle; width: auto; max-height: 100%;}
.rolling li:first-child a{margin-left: 0;}
.rolling li a span{}
#con_bottom .roll_prev{display: block;width: 26px;height: 51px;background: url(../images/linkbanner/roll_prev.png)no-repeat 0 0;position: absolute;left: 50%;top: 25px;margin-left: -540px;}
#con_bottom .roll_next{display: block;width: 26px;height: 51px;background: url(../images/linkbanner/roll_next.png)no-repeat 0 0;position: absolute;right: 50%;top: 25px;margin-right: -540px;}


/* footer */
#footer{
	position: relative;
	z-index: 200;
	overflow: hidden;
	background-color: #f8f8f8;
	height: 175px;
	
	
	.container{
		position: relative;
	}
	
	.quick_menu-footer{
		width: 100%;
		border-top: 1px solid #e4e4e4;
		border-bottom: 1px solid #e4e4e4;
		background-color: #fff;
		text-align: center;
		
		a{
			display: inline-block;
			position: relative;
			padding: 15px 8px;
			font-size: 12px;
			
			&:after{
				position: absolute;left: 0;top: 18px;
				clear: both;display: block;content: '';
				width: 1px;height: 11px;
				background-color: #e4e4e4;
				
				
			}
			
			&:first-child{
					&:after{
						display: none;
					}
				}
			
		}
	
	}
	
	address{
		margin: 0;
		margin-top: 32px;
		font-size: 12px;
		color: #666;
	}
	.copyright{
		margin: 5px 0;
		font-size: 12px;
		color: #aaa;
	}
	
}
[class^="footer-pop"]{
	display: inline-block;
	padding: 3px 5px;
	margin-left: 10px;
	border-radius: 3px;
	background-color: #868686;
	font-size: 10px;
	color: #fff;
}

.family-site{
	position: absolute;
	right: 13px;
	top: 3px;

	select {
		width: 180px; 
		height: 30px;
		background: #fff url(../images/footer/select.png) no-repeat 92% 50%;  
		border: 1px solid #d2d2d2; 
		border-radius: 0px; 
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		text-indent: 10px;
		font-size: 11px;
		vertical-align: middle;
	}
	
	.btn-submit{
		width: 43px;
		height: 30px;
		border: 1px solid #8a8a8a;
		background-color: #a0a0a0;
		color: #fff;
		border-radius: 3px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		vertical-align: middle;
	}
	
}


/* sub 페이지 공통 상단 */
#sub-top{
	overflow: hidden;
}
.location{
	height: 55px;
	margin-top: 30px;
	text-align: center;
	
	a{
		display: inline-block;
		position: relative;
		margin-top: 20px;
		padding: 10px;
		color: #aaa;
		font-size: 11px;
		
		&:after{
			clear: both;display: block;content: '>';
			position: absolute;
			left: -10px;
			top: 5px;
			padding: 5px;
			font-size: 10px;
		}
		
		&.home:after{
			content: '';
			position: absolute;
			left: -20px;
			top:7px;
			width: 22px;
			height: 22px;
			padding: 0;
			padding-left: 20px;
			background: url(../images/sub/home.png)0 0 no-repeat;
			
		}
		
		&.here{
			color: #333;
		}
	}
	
}
.tit_area{
	
	font-size: 30px;
	color: #333;
	
	h2{
		text-align: center;
	}
	
	p{
		margin: 0;
		margin-bottom: 40px;
		text-align: center;
		font-size: 13px;
		color: #707070;
	}
}
.snb{
	width: 800px;
	margin: auto;
	border: 1px solid #e3e3e3;
	
	&:after{
		clear: both;display: block;content: '';
	}
	li{
		display: block;
		float: left;
		width: 100%;
		background-color: #fff;
		text-align: center;
		border-left: 1px solid #e3e3e3;
		
		&:first-child{
			border: 0;
		}
		
		&.on{
			background-color: #2e3c60;
			
			a{
				
				span{
					color: #fff;
				}
			}
		}
		a{
			display: block;
			height: 50px;
			
			span{
				display: inline-block;
				color: #888;
				vertical-align: middle;
				
				&:before{
					display: inline-block;
					content: '';
					width: 1px;
					height: 50px;
					vertical-align: middle;
				}
			}
		
		}
		
		
	}
	
	&.list1 li{width: 100%;}
	&.list2 li{width: 50%;}
	&.list3 li{width: 33.3%;}
	&.list4 li{width: 25%;}
	&.list5 li{width: 20%;}
	&.list6 li{width: 16.6%;}
	&.list8 li{width: 14.2%;}
	&.list8 li{width: 12.5%;}
}




/* #content */
.sub-content{
	width: 800px;
	margin: auto;
	padding-bottom: 100px;
}










/* custom */
.custom-button1{
	margin: 0 10px 0;
	border: 1px solid #bababa;
	font-weight: bold;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,e8e8e8+100 */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 1%, #e8e8e8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ffffff 1%,#e8e8e8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ffffff 1%,#e8e8e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-9 */
}
.way_map{
	width: 100%;
	min-width: 800px;
	margin: 35px 0;
	
}




/* common */
.fll{
	float: left;
}
.flr{
	float: right;
}
.m20_0{
	margin: 20px 0;
}
h3{
	font-size: 18px;
	line-height: 18px;
	margin-top: 55px;
	margin-bottom: 30px;
}
h4{
	font-size: 16px;
	line-height: 1.4em;
	color: #333;
}
label{
	display: inline-block;
	margin: 0;
	vertical-align: middle;
	color: #666;
}
input{
	vertical-align: middle;
}
input[type="radio"]{
	margin: 0 5px;
}

.btn{
	border-radius: 3px;
}
.btn-search{
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 1px solid #d9d9d9;
	background: #fff url(../images/btn/btn-search.png)50% 50% no-repeat;
	margin-top: 1px;
	vertical-align: top;
	
}
.select{
  padding: 6px;
  font-size: 13px;
  font-family: inherit;
  border: 1px solid #d9d9d9;
  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select-type1{
  padding-right: 30px;
  background: #fff url(../images/btn/select.png)no-repeat 95% 50%;
}
.select-type2{
  padding-right: 30px;
  background: #fff url(../images/btn/select-type2.png)no-repeat 88% 50%;
  position: relative;
  
}


.ml20{
	margin-left: 20px;
}
.mt30{
	margin-top: 30px;
}
.spot{
	color: #ef4136 !important;	
}

.point-spot{
	color: #fff;
	background-color: #2e3c60 !important;	/* 남색 */
}
.point-spot1{
	color: #fff;
	background-color: #ef624e !important;	/* 적색 */
}
.point-spot2{
	color: #fff;
	background-color: #9e9e9e !important;	/* 회색 */
}
.point-form_title{
	display: block;
	height: 45px;
	padding-top: 15px;
	font-size: 14px;
}
.point-sub-pencil{
	padding-left: 58px;
	background: url(../images/sub/form-title.png)10px 10px no-repeat;
}
.point-sub-document{
	padding-left: 58px;
	background: url(../images/sub/form-title.png)10px -70px no-repeat;
}

.point-check{
	padding-left: 25px;
	background: url(../images/sub/checkpoint.png)0 2px no-repeat;
}
.point-low{
	position: relative;
	padding-left: 30px;
	
	&:after{
		clear: both;display: block;content: '';
		width: 13px;height: 13px;
		position: absolute;
		left: 5px;top: 4px;
		border-radius:50%;
		background-color: #d7d7d7;
	}
}
.point-button-style{
	display: inline-block;
	padding: 15px 95px;
	background-color: #d7d9db;
	border: 6px solid #fff;
	border-radius:20px;
	color: #2e3c60;
	font-weight: bold;
}
.point-width-md{
	padding-left: 50px;
	padding-right: 50px;
}
.point-explain{
	colorl: #d2d2d2;
	
}

.flr{
	float: right;
}
.tac{
 	text-align: center;
}
.tal{
	text-align: left !important;
}
.ti10{
	text-indent: 10px;
}
.point-alert{
	padding-left: 27px;
	min-height:20px;
	line-height: 20px;
	background: url(../images/sub/point-alert.png)0 3px no-repeat;
}
.under-table{
	margin-top: 15px;
	font-size: 11px;
	color: #666;
}
.download{
	margin-top: 35px;
}
.btn-custom{
	display: inline-block;
	font-size: 18px;
	padding: 10px 20px;
	padding-right: 50px;
	border-radius: 3px;
	background: #ef624e url(../images/btn/btn-custom.png)90% 50% no-repeat;
	color: #fff;
	
	&:hover{
		color: #f0f0f0;
	}
}
.btn-download{
	padding-left: 30px;
	background: #ff9920 url(../images/btn/btn-download.png)10px 50% no-repeat;
}
.btn-list{
	border: 1px solid #c1c1c1;
	-webkit-box-shadow: 0px 1px 1px #888;
	-moz-box-shadow: 0 1px 1px #888;
	box-shadow: 0 1px 1px #888;
	padding: 10px 40px;
	padding-left: 70px;
	background: #fff url(../images/btn/btn-list.png)18% 50% no-repeat;
}




.list-base{
	padding-left: 25px;
}
.list-base1{
	padding-left: 35px;
	line-height: 1.6em;
	font-size: 15px;
}
.listbox-default{
	padding: 30px 20px;
	border: 1px solid #d2d2d2;
	background-color: #fff;
	li{
		line-height: 26px;
	}
}

.next-chapter{
	margin-top: 50px;
}

/* table-primary */
.table-primary {
	width: 100%;
	table-layout: auto;
	border-collapse: collapse;
	border-top: 3px solid #264e77
}
.table-primary th, .table-primary td {
	text-align: center;
	vertical-align: middle;
	border: 1px solid #cecece;
	font-weight: normal
}
.table-primary th {
	padding: 10px 6px 8px;
	background-color: #fff;
	font-size: 14px;
	line-height: 1.4em;
	color: #333
}
.table-primary td {
	padding: 6px 6px 4px;
	font-size: 13px;
	line-height: 1.4em;
	color: #333
}
/* table-form */
.table-form{
	width: 100%;
	table-layout: auto;
	border-collapse: collapse;
}
.table-form{
	tbody{
		border: 1px solid #ddd;
	}
}
.table-form th, .table-form td {
	vertical-align: middle;
	font-weight: normal;
	line-height: 1.4em;
	min-height:48px;
	
	label{
		padding-left: 20px;
		line-height: 1.2em;
		margin: 8px 0;
	}
}
.table-form th {
	padding:  0;
	font-size: 14px;
	
	.point-explain{
		color: #999;
	}
	
}
.table-form td {
	padding: 6px;
	font-size: 13px;
	
	label{
		color: #999;
	}
}




.form{
	font-size: 14px;
	padding: 5px 10px;
	border: 1px solid #d9d9d9;
}
.form-xs{
	width: 100px;
}
.form-md{
	width: 160px;
}
.form-ml{
	width: 200px;
}
.form-lg{
	width: 228px;
}
.form-xl{
	width: 341px;
}
.form-space{
	display: inline-block;
	width: 19px;
	text-align: center;
	font-size: 12px;
}

.board-default-detail{
	th{
		font-weight: bold;
	
	}
	td{
		line-height: 25px;
		text-align: left;
		p{
			padding-left: 20px;text-indent: -15px;
		}
		ul{
			padding-left: 20px;text-indent: -15px;
		}
		
		a{
			color: #555;
			
			&:hover{
				text-decoration: underline;
			}
		}
		
	}
}
.board-default{
	
	&:after{
		clear: both;display: block;content: '';
	}
	
	table{
		th{
			font-weight: bold;
		}
		th,
		td{
			height: 40px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			vertical-align: middle;
			font-size: 12px;
			
			a{
				color: #555;
				
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.board-pager{
	div{
		float: left;
		
		&:after{
			clear: both;display: block;content: '';
		}
	}
	
	&:after{
		clear: both;display: block;content: '';
	}
	
	a{
		display: inline-block;
		border: 1px solid #d9d9d9;
		width: 30px;
		height: 30px;
		text-align: center;
		vertical-align: middle;
		background-color: #fff;
		color: #555;
		font-size: 12px;
		
		&:before{
			display: inline-block;
			content: '';
			width: 1px;
			height: 100%;
			vertical-align: middle;
		}
		
		&.on{
			background-color: #4b5265;
			color: #fff;
		}
	}
	
	.control{
		margin-left: 5px;
		
		a{
			background: #fff url(../imgaes/btn/btn-prev.png)50% 50% no-repeat;
		}
		.prev{
			background-image: url(../imgaes/btn/btn-prev.png);	
		}
		.next{
			background-image: url(../imgaes/btn/btn-next.png);
		}
	}
	
}

