/*con_bottom*/
#con_bottom{position: relative;border-top: 1px solid #e7e7e7;z-index: 100;background-color: #fff;}
#con_bottom img{max-width: none;max-height: none;}
#con_bottom .conwrap{padding: 0;}
.conwrap{width: 1000px;margin: auto;}
.rolling{width: 100%;height: 100px;padding: 20px 0;text-align: center;}
.rolling li{display: inline-block;height: 55px;margin-bottom: 30px;vertical-align: top;position: relative;margin-left:25px;}
.rolling li a{display: block;}
.rolling li:first-child a{margin-left: 0;}
.rolling li a span{}
#con_bottom .roll_prev{display: block;width: 26px;height: 51px;background: url(../images/linkbanner/roll_prev.png)no-repeat 0 0;position: absolute;left: 50%;top: 25px;margin-left: -540px;}
#con_bottom .roll_next{display: block;width: 26px;height: 51px;background: url(../images/linkbanner/roll_next.png)no-repeat 0 0;position: absolute;right: 50%;top: 25px;margin-right: -540px;}

/* footer */
#footer{
  position: relative;
  z-index: 200;
  overflow: hidden;
  background-color: #f8f8f8;
  height: 175px;


  .container{
    position: relative;
  }

  .quick_menu-footer{
    width: 100%;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    background-color: #fff;
    text-align: center;

    a{
      display: inline-block;
      position: relative;
      padding: 15px 8px;
      font-size: 12px;

      &:after{
        position: absolute;left: 0;top: 18px;
        clear: both;display: block;content: '';
        width: 1px;height: 11px;
        background-color: #e4e4e4;


      }

      &:first-child{
        &:after{
          display: none;
        }
      }

    }

  }

  address{
    margin: 0;
    margin-top: 32px;
    font-size: 12px;
    color: #666;
  }
  .copyright{
    margin: 5px 0;
    font-size: 12px;
    color: #aaa;
  }

}
[class^="footer-pop"]{
  display: inline-block;
  padding: 3px 5px;
  margin-left: 10px;
  border-radius: 3px;
  background-color: #868686;
  font-size: 10px;
  color: #fff;
}

.family-site{
  position: absolute;
  right: 13px;
  top: 3px;

  select {
    width: 180px;
    height: 30px;
    background: #fff url(../images/footer/select.png) no-repeat 92% 50%;
    border: 1px solid #d2d2d2;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 10px;
    font-size: 11px;
    vertical-align: middle;
  }

  .btn-submit{
    width: 43px;
    height: 30px;
    border: 1px solid #8a8a8a;
    background-color: #a0a0a0;
    color: #fff;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    vertical-align: middle;
  }

}
.sitemap{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
  
  &.on{
    display: block;
  }
  >ul{
    width: 1000px;
    margin: auto;
    margin-top: 90px;
    
    &:after{
      clear: both;
      display: block;
      content: '';
    }
    
    >li{
      width: 50%;
      float: left;
      margin-top: 60px;
      
      >a{
        float: left;
        font-size: 24px;
        color: orangered;
        font-weight: bold;
      }
      >ul{
        padding-left: 200px;
        
        >li{
          >a{
            font-size: 22px;
            color: #fff;
            
          }
          >ul{
            margin: 10px 0 20px;
            
            padding-left: 20px;
            
            li{
              position: relative;
              
              a{
                font-size: 18px;
                color: #999;
                
                &:after{
                  position: absolute;
                  left: -15px;
                  top: 10px;
                  display: block;
                  content: '';
                  width: 4px;
                  height: 4px;
                  background-color: #999;
                  border-radius:50%;
                  
                }
              }
            }
          }
        }
      }
    }
    ul{
      margin: 0;
    }
  }
  
  .btn-sitemap-close{
    display: inline-block;
    width: 95px;
    height: 95px;
    background: url(../images/header/btn_sitemap_pc_close.png)no-repeat 0 0;
    position: absolute;
    right: 50%;
    top: 40px;
    margin-right: -500px;
    
  }
  
  
}



















































